.start-screen {
  background-color: rgb(100, 98, 98);
  background-image: url("../../../assets/img/bgstart.jpg");
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  background-position: left;
  height: 100vh;
  width: 100vw;
  max-width: 100%;

  // display: flex;
  // justify-content: center;
  // align-items: center;

  img {
    position: absolute;
    top: 85%;
    left: 50%;
    width: 306px;
    transform: translateX(-50%);
    &:hover {
      filter: brightness(1.1);
      cursor: pointer;
    }
  }

  h1 {
    position: absolute;
    top: 30%;
    left: 10%;
    font-size: 60px;
    color:#f2c43d;
    margin: 0;
    height: 100vh;
    line-height: 50px;
  }
}
